<% if @product.video_link? %>
  <div class="media">
    <h3>Video File</h3>
    <iframe width="300" height="225" src="http://www.youtube.com/embed/<%= @product.video_link %>" frameborder="0" allowfullscreen></iframe>
  </div>
<% end %>

<% if @product.sound_link? %>
  <h3>Audio File</h3>
  <div class="media">
    <iframe width="300" height="225" src="http://www.youtube.com/embed/<%= @product.sound_link %>" frameborder="0"></iframe>
  </div>
<% end %>
