.text_clear
  - x = 0
  - @products.each do |product|
    - if Spree::Config[:show_zero_stock_products] || product.has_stock?
      - if x >= 3
        - x = 0
        .columns.three.products-home.text_clear
          = render 'shared/product_list', :product => product
      -else 
        .columns.three.products-home
          = render 'shared/product_list', :product => product
      - x = x + 1
