body {
  background: url('body-bg.jpg') center fixed no-repeat #977148;
}

.container {
  background: white;
  margin-top: 25px;
  width: 937px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.taxons{
  margin-top: 120px;
}

ul.menu {
  list-style-type:none;
  margin:0;
  padding:0;
  margin-top: -20px;
  a:link,a:visited {
    display:block;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#C18137;
    width:134px;
    padding: 10px 0px 10px 0px;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
    float: left;
  }
  a:hover,a:active{
    background-color:#bdc236;
    color: white !important;
  }
}

.text_clear {
  clear: both;
}

ul.menu.taxons {
  list-style-type:none;
  margin:0;
  padding:0;
  margin-top: -20px;
  a:link,a:visited {
    display:block;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#C18137;
    width:124px;
    padding: 10px 0px 10px 0px;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
    float: left;
  }
  a:hover,a:active{
    background-color:#bdc236;
    color: white !important;
  }
}

#slider {
  float: left;
}

span#slider-body {
  width:280px;
  padding: 10px 10px 10px 10px;
  float: right;
}

.user_info {
  margin-top: -50px;
  background: #EFB673;
  border: 1px black dotted;
  padding: 5px 5px 5px 5px;
  float: right;
  width: 300px;
  margin-right: 5px;
}

.products-home {
  border: 1px black solid;
  margin-left: 10px;
  margin-top: 15px;
  padding: 10px 12px 10px 12px;

  .product-home-image{
    margin: 10px 0px 0px 25px;
  }
  .product-home-desc {
    text-align: center;
  }
}

.top-ten {
  background: #B77831;
  color: white;
  border: black 1px solid;
  width: 310px;
  margin-left: 623px;
  margin-top: -60px;
  .title-ten {
    margin-top: 10px;
  }
  .popular-products {
    background: white;
    padding: 5px;
    z-index: -1;
  }
  .products-top-ten {
    border: 1px black solid;
  }
}
